*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
  border: 1px solid #eee;
  color: #666;
  font-size: 12px;
  padding: 10px 60px;
  
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  gap: 25px;
}
/* navbar */
.navbar {
  border-bottom: 1px solid #eee;
  padding: 15px 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  margin-right: 650px;
}

.logo a{
  text-decoration: none;
  color: #333;
  font-size: 22px;
}


.h-box {
  background: #a5c937;
  color: #fff;
  border-radius: 4px;
  padding: 2px 6px;
}

nav a {
  text-decoration: none;
  color: #555;
  margin: 0 12.5px;
  font-weight: 500;
}

nav a:hover {
  color: #000;
}

button {
  background: #a5c937;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background: #93b72f;
}

/* Carousoul */
.slider {
  position: relative;
  width: 100%;
  height: 100vh;       
  /* overflow: hidden;  */
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.text p {
  font-size: 22px;
  margin-bottom: 10px;
}

.text h1 {
  font-size: 50px;
  text-transform: uppercase;
}

/* about section */

#about-us{
  background-image: url(./images/about-bg.jpg);
  background-position: top;
  height: 100vh;
  display: flex;
  align-items: center;
}

.h-box-black {
  background: #000000;
  color: #fff;
  border-radius: 4px;
  padding: 2px 6px;
}

.text-about-us {
  width: 45%;
  padding-left: 100px;
}

.text-about-us h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.doctor {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.doctor img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.doctor span {
  font-size: 14px;
  color: #777;
}
/* doctors */
.text-doctors {
  padding: 50px 0 0 30px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-left: 25px;
}

.doctors {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 50px;
}

.doctor-box {
  width: 30%;
  background: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
}

.doctor-box img {
  width: 100%;
  height:750px;
  object-fit: cover;
  display: block;
}

.doctor-info {
  padding: 20px;
}

.doctor-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.doctor-info p {
  font-size: 14px;
  color: #777;
  margin: 0 0 10px 0;
}

.doctor-contact {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

/* latest news */
#container-news{
  background-color: #b1a2a2;
  height: 100vh;
  padding-top: 80px;
}
.latest-news{
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #222;
  margin-bottom: 25px;
  margin-left: 25px;
}

.news {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0 50px 50px 50px;
}

.news-box {
  width: 25%;
  background: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
}

.news-box img {
  width: 100%;
  height:250px;
  object-fit:unset ;
  display: block;
}

.news-info {
  padding: 20px;
}

.news-info h2 {
  font-size: 25px;
  margin: 25px 0 25px 0;
}

.news p {
  font-size: 14px;
  color: #777;
  padding-left: 10px;
  /* margin-bottom: 25px; */
}

.news-contact {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  display: flex;
}

.news-doctor img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* make a appointment */
#appointment {
  padding: 40px 0;
}

.wrap {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 30px;
}

.left img {
  width: 100%;
  /* height: auto; */
  height: 100vh;

}

.right{
  width: 50%;
}

.right h2 {
  font-size: 60px;
  margin: 100px 0 20px 0;
}

.right p{
  font-size: larger;
}

.row2 {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.field, .field-full {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input, select, textarea, button {
  font-size: larger;
  margin: 15px 0 5px 0;
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  margin-top: 15px;
  cursor: pointer;
}
/* google map */
#google-map iframe{
  height: 100vh;
  width: 100%;
}

/* footer */
#footer{
  height: 50vh;
}
.footer-container {
  display: flex;
  gap: 50px;
  text-align: left;
  justify-content: center;
}

.footer-box{
  width: 25%;
}

.footer-box h2{
  font-weight: bold;
  padding: 100px 0 20px 0;
}

.footer-doctor {
  display: flex;
  /* align-items: center; */
  margin-top: 30px;
}

.footer-doctor img {
  width: 55px;
  height: 55px;
  border-radius: 50%;

}

